.user-profile-container{
    display: flex;
    justify-content: space-around;
    /* width: 500px; */
    flex-wrap: wrap
}
.user-profile{
    width: 100%;
    padding-left: 20px;
}
.details{
    display: flex;
    justify-content: center;
}
.detail{
    text-align: center;
    width: 25%;
}
.delete-button{
    background-color: rgb(249, 19, 19);
    border-radius: 10px;
    width: 60px;
    color: white;
    cursor: pointer;
}

.edit-button{
    background-color: rgb(106, 205, 238);
    border: 1px solid aliceblue;
    border-radius: 10px;
    width: 60px;
    color: white;
    cursor: pointer;
}

.line{
    color: lightskyblue;
}

@media (max-width:560px) {
    .user-profile-container {
        width: 260px;
        flex-wrap: wrap;
    }
    .user-profile{
        padding-left: 0px;
    }
    .details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .detail{
        margin: 6px;
    }
}